@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fontColor: #f0ede5;
    --accentColor: #bfdbfe;
}

* {
    padding: 0;
    margin: auto;
    font-family: poppins;
    color: var(--fontColor);
}

body {
    background-image: linear-gradient(to bottom right, #2E73DC, #4C86DF);
}

.pfp {
    position: relative;
    z-index: 10;
    width: 300px;
    top: -150px;
    float: left;
    margin-right: 1rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    shape-outside: circle(50% at calc(150px + 1rem) 0);
}

.intro {
    text-align: justify;
    font-size: 1.2rem;
    padding: 1rem;
}
